.page5 {
  height: 2900px;

  .page-bg {
    width: 400px;
    height: 2875px;
    background-image: url(../assets/img/page5/ani1.png);
    left: 28.93333%;
    top: -50px;
    z-index: 9;
  }
  .ani2 {
    @include imgUrl(657px, 1267px, '/page5/ani2.png');
    position: absolute;
    bottom: 300px;
    left: 4%;
  }
  .ani3 {
    @include imgUrl(219px, 1540px, '/page5/ani3.png');
    position: absolute;
    left: 12.8%;
    bottom: 350px;
  }
  .logo {
    @include imgUrl(116px, 523px, '/page5/logo.png');
    position: absolute;
    top: 107px;
    left: 66.66667%;
  }
  .title1 {
    @include imgUrl(64px, 400px, '/page5/title1.png');
    position: absolute;
    left: 8%;
    top: 565px;
    z-index: 99;
    .container2 {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  .title2 {
    @include imgUrl(144px, 490px, '/page5/title2.png');
    position: absolute;
    left: 69.73333%;
    bottom: 0;
    z-index: 99;

    .container2 {
      position: absolute;
      top: 0.5%;
      left: 60%;
    }
  }
}

.bg5-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page5/bg5intro.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
}

.bg5-intro2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page5/bg5intro2.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
  .close {
    bottom: 100px;
    left: auto;
    right: 50px;
  }
}
