.page4 {
  height: 3020px;

  .ani1 {
    @include imgUrl(297px, 229px, '/page4/ani1.png');
    position: absolute;
    left: 33%;
    top: 0;
  }
  .car {
    @include imgUrl(191px, 360px, '/page4/car.png');
    position: absolute;
    left: 30.66667%;
    top: 490px;
  }
  .map {
    @include imgUrl(575px, 481px, '/page4/map.png');
    position: absolute;
    left: 10.933333%;
    top: 1070px;

    .star {
      @include imgUrl(74px, 247px, '/page4/star.png');
      position: absolute;
      top: 117px;
      left: 103px;
      animation: scaleFlash 1.2s linear infinite;
    }
  }
  .title {
    @include imgUrl(186px, 798px, '/page4/title.png');
    position: absolute;
    top: 234px;
    left: 69.3333%;
  }
  .dot {
    @include imgUrl(27px, 27px, '/page4/dot.png');
    position: absolute;
  }
  .title2 {
    @include imgUrl(64px, 476px, '/page4/title2.png');
    position: absolute;
    top: 455px;
    left: 6%;
    .container2 {
      position: absolute;
      left: 4px;
      top: 4px;
    }
  }

  .page4-tab-cont {
    .tab-cont1,
    .tab-cont2,
    .tab-cont3 {
      position: absolute;
      top: 0;
      z-index: 10;
      display: none;

      &.selected {
        display: block;
      }
    }
    .loc {
      @include imgUrl(176px, 60px, '/page4/loc.png');
      position: absolute;
    }
    .logo {
      position: absolute;
      left: 313px;
      top: 677px;
    }
    .dot-title {
      position: absolute;
    }
    .tab-cont1 {
      // @include imgUrl(382+200px, 534+200px, '/page4/tab1cont.png');
      height: 1256px;
      width: 563px;
      right: 20.6667%;
      .dot,
      .dot-title {
        animation: zoomIn 0.4s linear both;
        display: none;
        &.in {
          display: block;
        }
      }
      .dot1 {
        top: 0;
        left: 163px;
      }
      .dot2 {
        top: 309px;
        left: 235px;
      }
      .dot3 {
        top: 578px;
        left: 356px;
      }
      .dot4 {
        top: 895px;
        left: 276px;
      }
      .dot5 {
        top: 993px;
        left: 363px;
      }
      .dot6 {
        top: 1089px;
        left: 254px;
      }
      .dot7 {
        top: 1103px;
        left: 338px;
      }
      .dot-title1 {
        @include imgUrl(195px, 25px, '/page4/tab1/title(1).png');
        top: 0;
        left: 202px;
      }
      .dot-title2 {
        @include imgUrl(170px, 56px, '/page4/tab1/title(3).png');
        top: 302px;
        left: 306px;
      }
      .dot-title3 {
        @include imgUrl(147px, 25px, '/page4/tab1/title(4).png');
        top: 579px;
        left: 415px;
      }
      .dot-title4 {
        @include imgUrl(122px, 57px, '/page4/tab1/title(8).png');
        top: 879px;
        left: 128px;
      }
      .dot-title5 {
        @include imgUrl(146px, 56px, '/page4/tab1/title(6).png');
        bottom: 227px;
        right: 0;
      }
      .dot-title6 {
        @include imgUrl(146px, 55px, '/page4/tab1/title(5).png');
        top: 1077px;
        left: 84px;
      }
      .dot-title7 {
        @include imgUrl(147px, 23px, '/page4/tab1/title(2).png');
        top: 1105px;
        left: 380px;
      }
      .loc {
        top: 596px;
        left: 132px;
        animation: scaleFlash 1.2s linear infinite;
      }
      .logo {
        @include imgUrl(65px, 232px, '/page4/tab1/tab1logo.png');
      }
    }
    .tab-cont2 {
      // @include imgUrl(366+200px, 640+200px, '/page4/tab2cont.png');
      height: 1244px;
      width: 584px;
      right: 18%;
      .dot1 {
        top: 15px;
        left: 166px;
        animation: zoomIn 0.4s linear both;
      }
      .dot2 {
        top: 302px;
        left: 236px;
        animation: zoomIn 0.4s 0.2s linear both;
      }
      .dot3 {
        top: 355px;
        left: 229px;
        animation: zoomIn 0.4s 0.4s linear both;
      }
      .dot4 {
        top: 552px;
        left: 349px;
        animation: zoomIn 0.4s 0.6s linear both;
      }
      .dot5 {
        top: 941px;
        left: 369px;
        animation: zoomIn 0.4s 0.8s linear both;
      }
      .dot6 {
        top: 988px;
        left: 266px;
        animation: zoomIn 0.4s 1s linear both;
      }
      .dot7 {
        top: 1106px;
        left: 334px;
        animation: zoomIn 0.4s 1.2s linear both;
      }
      .dot8 {
        top: 1204px;
        left: 230px;
        animation: zoomIn 0.4s 1.4s linear both;
      }
      .dot-title1 {
        @include imgUrl(179px, 56px, '/page4/tab2/title(6).png');
        top: 0;
        left: 215px;
        animation: zoomIn 0.4s linear both;
      }
      .dot-title2 {
        @include imgUrl(206px, 55px, '/page4/tab2/title(9).png');
        top: 287px;
        left: 271px;
        animation: zoomIn 0.4s 0.2s linear both;
      }
      .dot-title3 {
        @include imgUrl(182px, 55px, '/page4/tab2/title(1).png');
        top: 538px;
        left: 393px;
        animation: zoomIn 0.4s 0.4s linear both;
      }
      .dot-title4 {
        @include imgUrl(128px, 25px, '/page4/tab2/title(4).png');
        top: 372px;
        left: 82px;

        animation: zoomIn 0.4s 0.6s linear both;
      }
      .dot-title5 {
        @include imgUrl(152px, 56px, '/page4/tab2/title(5).png');
        top: 926px;
        left: 410px;
        animation: zoomIn 0.4s 0.8s linear both;
      }
      .dot-title6 {
        @include imgUrl(99px, 56px, '/page4/tab2/title(8).png');
        top: 973px;
        left: 145px;
        animation: zoomIn 0.4s 1s linear both;
      }
      .dot-title7 {
        @include imgUrl(204px, 56px, '/page4/tab2/title(3).png');
        top: 1107px;
        right: 0;
        animation: zoomIn 0.4s 1.2s linear both;
      }
      .dot-title8 {
        @include imgUrl(100px, 25px, '/page4/tab2/title(2).png');
        bottom: 14px;
        left: 116px;
        animation: zoomIn 0.4s 1.4s linear both;
      }
      .loc {
        top: 584px;
        left: 132px;
        animation: scaleFlash 1.2s linear infinite;
      }
      .logo {
        @include imgUrl(65px, 232px, '/page4/tab2/tab2logo.png');
      }
    }
    .tab-cont3 {
      // @include imgUrl(363+200px, 584+200px, '/page4/tab3cont.png');
      height: 1376px;
      width: 583px;
      right: 18%;
      top: -11%;
      .dot1 {
        top: 26px;
        left: 160px;
        animation: zoomIn.4s linear both;
      }
      .dot2 {
        top: 421px;
        left: 229px;
        animation: zoomIn 0.4s 0.2s linear both;
      }
      .dot3 {
        top: 556px;
        left: 242px;
        animation: zoomIn 0.4s 0.4s linear both;
      }
      .dot4 {
        top: 704px;
        left: 359px;
        animation: zoomIn 0.4s 0.6s linear both;
      }
      .dot5 {
        top: 1018px;
        left: 377px;
        animation: zoomIn 0.4s 0.8s linear both;
      }
      .dot6 {
        top: 1045px;
        left: 276px;
        animation: zoomIn 0.4s 1s linear both;
      }
      .dot7 {
        top: 1239px;
        left: 250px;
        animation: zoomIn 0.4s 1.2s linear both;
      }
      .dot8 {
        top: 1376-98px;
        left: 316px;
        animation: zoomIn 0.4s 1.4s linear both;
      }
      .dot-title1 {
        @include imgUrl(166px, 55px, '/page4/tab3/title(1).png');
        top: 0;
        left: 198px;
        animation: zoomIn 0.4s linear both;
      }
      .dot-title2 {
        @include imgUrl(145px, 56px, '/page4/tab3/title(3).png');
        top: 407px;
        left: 270px;
        animation: zoomIn 0.4s 0.2s linear both;
      }
      .dot-title3 {
        @include imgUrl(128px, 56px, '/page4/tab3/title(6).png');
        top: 685px;
        left: 401px;

        animation: zoomIn 0.4s 0.4s linear both;
      }
      .dot-title4 {
        @include imgUrl(122px, 57px, '/page4/tab3/title(8).png');
        top: 541px;
        left: 100px;
        animation: zoomIn 0.4s 0.6s linear both;
      }
      .dot-title5 {
        @include imgUrl(168px, 55px, '/page4/tab3/title(7).png');
        top: 998px;
        right: 0;
        animation: zoomIn 0.4s 0.8s linear both;
      }
      .dot-title6 {
        @include imgUrl(122px, 56px, '/page4/tab3/title(2).png');
        top: 1028px;
        left: 139px;
        animation: zoomIn 0.4s 1s linear both;
      }
      .dot-title7 {
        @include imgUrl(145px, 55px, '/page4/tab3/title(4).png');
        top: 1252px;
        left: 381px;
        animation: zoomIn 0.4s 1.2s linear both;
      }
      .dot-title8 {
        @include imgUrl(123px, 25px, '/page4/tab3/title(5).png');
        top: 1224px;
        left: 96px;
        animation: zoomIn 0.4s 1.4s linear both;
      }
      .loc {
        top: 716px;
        left: 132px;
        animation: scaleFlash 1.2s linear infinite;
      }
      .logo {
        @include imgUrl(65px, 232px, '/page4/tab3/tab3logo.png');
        left: 313px;
        top: 797px;
      }
    }
  }
  .page4-tab {
    position: absolute;
    width: 100%;
    height: 1256px;
    position: absolute;
    bottom: 0;
    left: 0;
    nav {
      height: 775px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      left: 4.53333%;
      top: 265px;
      z-index: 20;
      a {
        display: block;
        &.selected {
          animation: scaleFlash 1.2s linear infinite;
        }
        &.page4-tab1 {
          @include imgUrl(89px, 122px, '/page4/tab1.png');
          &.selected {
            background-image: url(../assets/img/page4/tab1on.png);
          }
        }
        &.page4-tab2 {
          @include imgUrl(83px, 122px, '/page4/tab2.png');
          &.selected {
            background-image: url(../assets/img/page4/tab2on.png);
          }
        }
        &.page4-tab3 {
          @include imgUrl(82px, 111px, '/page4/tab3.png');
          &.selected {
            background-image: url(../assets/img/page4/tab3on.png);
          }
        }
      }
    }
  }
}
.bg4-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page4/bg4intro.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
}
