.page9 {
  padding-top: 50px;
  height: auto;
  h2 {
    text-indent: -999em;
    @include imgUrl(376px, 177px, '/page9/title.png');
    margin: 0 auto 20px;
  }
  input {
    display: block;
    width: 505px;
    height: 73px;
    border-radius: 10px;
    border: solid 3px #adaaa3;
    box-sizing: border-box;
    padding: 0 10px;
    color: #000;
    font-size: 30px;
    margin: 0 auto 20px;

    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: #bfbdb8;
    }
  }
}
.submit-btn {
  display: flex;
  width: 501px;
  height: 65px;
  background-color: #d2d4c7;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  i {
    display: block;
    @include imgUrl(402px, 39px, '/page9/btn.png');
  }

  margin: 0 auto 50px;
}
