.page7 {
  height: 1330px;
  // .page7-xian {
  //   @include imgUrl(71px, 332px, '/page7/xian.png');
  //   background-size: 71px 332px;
  //   background-position: top center;
  //   position: absolute;
  //   left: 197px;
  //   top: 0;
  //   height: 0;
  // }
  .title {
    @include imgUrl(98px, 209px, '/page7/title.png');
    position: absolute;
    left: 76.53333%;
    top: 22%;
  }
}
.page7-tab-wrap {
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  nav {
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -50px;
    a {
      display: block;
      &.selected {
        animation: scaleFlash 1.2s linear infinite;
      }
      &.page7-tab1 {
        @include imgUrl(96px, 98px, '/page7/tab1.png');
        &.selected {
          background-image: url(../assets/img/page7/tab1on.png);
        }
      }
      &.page7-tab2 {
        @include imgUrl(98px, 99px, '/page7/tab2.png');
        &.selected {
          background-image: url(../assets/img/page7/tab2on.png);
        }
      }
      &.page7-tab3 {
        @include imgUrl(104px, 98px, '/page7/tab3.png');
        &.selected {
          background-image: url(../assets/img/page7/tab3on.png);
        }
      }
    }
  }
}
.page7-tab-cont {
  height: 1560px;
  position: relative;
  margin-left: 20px;
  .tab-cont {
    display: none;
    animation: slide1 0.5s linear;
    &.selected {
      display: block;
    }
  }
  .l-img {
    position: relative;
    z-index: 11;
  }
  .r-img {
    position: relative;
    z-index: 12;
  }
  .tab-cont1 {
    padding-left: 50px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/1.png');
      animation: scaleFlash 5s linear infinite;
    }
    .r-img {
      @include imgUrl(373px, 944px, '/page7/2.png');
      margin-left: 50px;
      margin-top: -10px;
      position: relative;
      .hair {
        @include imgUrl(141px, 1003px, '/page7/hair.png');
        background-size: 141px 1003px;
        background-position: top center;
        position: absolute;
        right: 18%;
        top: 5%;
        height: 0%;
      }
    }
  }
  .tab-cont2 {
    padding-left: 50px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/4.png');
      animation: flipInX 1s linear both, scaleFlash 5s 1s linear infinite;
    }
    .r-img {
      @include imgUrl(320px, 1074px, '/page7/5.png');
      animation: slide1 0.2s 0.5s linear both;
      position: relative;
      right: -24.4%;
    }
  }
  .tab-cont3 {
    padding-left: 50px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/7.png');
      animation: flipInX 1s linear both, scaleFlash 5s 1s linear infinite;
    }
    .r-img {
      @include imgUrl(365px, 1033px, '/page7/8.png');
      animation: slide1 0.2s 0.5s linear both;
      position: relative;
      right: -24.4%;
    }
  }
}
