.page5 {
  height: 39.9rem;
  .sub-title-wrap {
    position: absolute;
    left: 6%;
    top: 45%;
    .sub-title {
      margin-bottom: 162px;
      display: none;
      &.in {
        display: block;
      }
    }
  }
  .boat {
    @include imgUrl(68px, 199px, '/page5/boat.png');
    position: absolute;
    z-index: 12;
    left: 34.13333%;
    top: 19%;
  }
  .sub-title1 {
    @include imgUrl(24px, 193px, '/page5/bt1.png');
    animation: slide1 0.5s 0.7s linear both;
  }
  .sub-title2 {
    @include imgUrl(24px, 193px, '/page5/bt2.png');
    animation: slide1 0.5s 1.2s linear both;
  }
  .sub-title3 {
    @include imgUrl(24px, 193px, '/page5/bt3.png');
    animation: slide1 0.5s 1.7s linear both;
  }
  .sub-title4 {
    @include imgUrl(24px, 193px, '/page5/bt4.jpg');
    animation: slide1 0.5s 2.1s linear both;
  }
  .page-bg {
    width: 400px;
    height: 2875px;
    background-image: url(../assets/img/page5/ani1.png);
    left: 31%;
    top: -4%;
    z-index: 9;
  }
  .ani2 {
    @include imgUrl(578px, 1201px, '/page5/ani2.png');
    position: absolute;
    top: 43.3%;
    left: 17%;
  }
  .ani3 {
    @include imgUrl(219px, 1540px, '/page5/ani3.png');
    position: absolute;
    left: 16%;
    top: 31.6%;
    display: none;
    animation: slide1 0.5s 0.2s linear both;
    &.in {
      display: block;
    }
  }
  .logo {
    @include imgUrl(116px, 523px, '/page5/logo.png');
    position: absolute;
    top: 107px;
    left: 71.66667%;
  }
  .title1 {
    @include imgUrl(69px, 497px, '/page5/title1.png');
    position: absolute;
    left: 8%;
    top: 450px;
    z-index: 99;
    .container2 {
      position: absolute;
      top: 1%;
      left: 12%;
    }
  }
  .title2 {
    @include imgUrl(113px, 547px, '/page5/title2.png');
    position: absolute;
    left: 83%;
    bottom: 32%;
    z-index: 99;

    .container2 {
      position: absolute;
      top: 1%;
      left: 46%;
    }
  }
}

.bg5-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page5/bg5intro.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
}

.bg5-intro2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page5/bg5intro2.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
  .close {
    bottom: 100px;
    left: auto;
    right: 50px;
  }
}
.page5-xian {
  @include imgUrl(369px, 1427px, '/page5/xian.png');
  background-size: 369px 1427px;
  background-position: top center;
  position: absolute;
  top: 50%;
  left: 48%;
}
