.page1 {
  height: 1500px;
  .page-bg {
    width: 451px;
    height: 1138px;
    background-image: url(../assets/img/page1/bg1.jpg);
    top: 211px;
    right: 42px;
  }
  .ani1 {
    @include imgUrl(250px, 445px, '/page1/ani1.png');
    position: absolute;
    top: 180px;
    left: 116px;
    z-index: 7;
    transform: scale(.8)
  }
  .ani2 {
    @include imgUrl(220px, 221px, '/page1/ani2.png');
    position: absolute;
    top: 579px;
    left: 198px;
    z-index: 6;
  }
  .title1 {
    @include imgUrl(34px, 277px, '/page1/title1.png');
    position: absolute;
    bottom: 200px;
    right: 507px;
    z-index: 7;
    animation: slide2 1.5s linear infinite;
  }
  .title2 {
    @include imgUrl(34px, 281px, '/page1/title2.png');
    position: absolute;
    bottom: 200px;
    right: 568px;
    z-index: 7;
    span {
      display: block;
      height: 50%;
      width: 100%;
    }
  }
}
