body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
  }
.page3 {
  height: 2260px;

  .page-bg {
    width: 486px;
    height: 1928px;
    background-image: url(../assets/img/page3/bg3.png);
    top: 330px;
    left: 25.33333%;
  }
  .train {
    @include imgUrl(112px, 1254px, '/page3/train.png');
    position: absolute;
    top: 450px;
    left: 18.2%;
    z-index: 7;
  }
  [data-aos='train'] {
    opacity: .8;
    transform: translateY(0);
    transition-property: transform, opacity;

    &.aos-animate {
      opacity: 1;
      transform: translateY(520px);
    }
  }
  
  .title2 {
    @include imgUrl(41px, 733px, '/page3/title2.png');
    position: absolute;
    top: 880px;
    left: 67.33333%;
    z-index: 7;
  }
  .title3 {
    @include imgUrl(64px, 469px, '/page3/title3.png');
    position: absolute;
    bottom: 500px;
    left: 4.8%;
    z-index: 7;
  }
  .boat {
    @include imgUrl(132px, 357px, '/page3/boat.png');
    position: absolute;
    top: 1177px;
    left: 34.66667%;
    z-index: 7;
  }
  .container2 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 4px;
    top: 4px;
  }
}
.bg3-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 167px, '/page3/bg3intro.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  &.show {
    display: flex;
  }
}
