.page4 {
  height: 2020px;

  .ani1 {
    @include imgUrl(297px, 229px, '/page4/ani1.png');
    position: absolute;
    left: 31.2%;
    top: 20px;
  }
  .car {
    @include imgUrl(217px, 410px, '/page4/car.png');
    position: absolute;
    left: 23.3333%;
    top: 315px;
  }
  .map {
    @include imgUrl(343px, 245px, '/page4/map.png');
    position: absolute;
    left: 18.13333%;
    top: 870px;

    .star {
      @include imgUrl(61px, 146px, '/page4/star.png');
      position: absolute;
      top: 20px;
      left: 44px;
      animation: scaleFlash 1.2s linear infinite;
    }
  }
  .title {
    @include imgUrl(148px, 630px, '/page4/title.png');
    position: absolute;
    top: 251px;
    right: 83px;
  }
  .dot {
    @include imgUrl(27px, 27px, '/page4/dot.png');
    position: absolute;
  }
  .title2 {
    @include imgUrl(39px, 364px, '/page4/title2.png');
    position: absolute;
    top: 50px;
    left: 94px;
    .container2 {
      position: absolute;
      left: -8px;
      top: -8px;
    }
  }
  .page4-tab-cont {
    height: 900px;
    width: 570px;
    position: relative;
    margin-left: -20px;
    .tab-cont1,
    .tab-cont2,
    .tab-cont3 {
      display: none;
      &.selected {
        display: block;
      }
    }
    .loc {
      @include imgUrl(200px, 73px, '/page4/loc.png');
      position: absolute;
    }
    .logo{
      position: absolute;
      left:239px;
      top:359px;
    }
    .dot-title{
      position: absolute;
    }
    .tab-cont1 {
      // @include imgUrl(382+200px, 534+200px, '/page4/tab1cont.png');
      .dot1 {
        top: 104px;
        left: 207px;
      }
      .dot2 {
        top: 239px;
        left: 272px;
      }
      .dot3 {
        top: 446px;
        left: 311px;
      }
      .dot4 {
        top: 577px;
        left: 202px;
      }
      .dot5 {
        top: 900-200px;
        left: 289px;
      }
      .dot6 {
        top: 900-104px;
        left: 180px;
      }
      .dot7 {
        top: 900-91px;
        left: 264px;
      }
      .dot-title1{
        @include imgUrl(195px,25px,'/page4/tab1/title (1).png');
        top:105px;
        right:124px;
      }
      .dot-title2{
        @include imgUrl(170px,56px,'/page4/tab1/title (3).png');
        top:232px;
        right:58px;
      }
      .dot-title3{
        @include imgUrl(147px,25px,'/page4/tab1/title (4).png');
        top:447px;
        right:54px;
      }
      .dot-title4{
        @include imgUrl(122px,57px,'/page4/tab1/title (8).png');
        top:561px;
        left:54px;
      }
      .dot-title5{
        @include imgUrl(146px,56px,'/page4/tab1/title (6).png');
        bottom:151px;
        right:92px;
      }
      .dot-title6{
        @include imgUrl(146px,55px,'/page4/tab1/title (5).png');
        bottom:88px;
        left:10px; 
      }
      .dot-title7{
        @include imgUrl(147px,23px,'/page4/tab1/title (2).png');
        bottom:62px;
        right:118px; 
      }
      .loc {
        top: 278px;
        left: 58px;
        animation: scaleFlash 1.2s linear infinite;
      }
      .logo{
        @include imgUrl(65px,232px,'/page4/tab1/tab1logo.png');

      }
    }
    .tab-cont2 {
      // @include imgUrl(366+200px, 640+200px, '/page4/tab2cont.png');
      transform: translate(1%, 0%);
      .dot1 {
        top: 78px;
        left: 191px;
        animation: zoomIn.4s linear both;
      }
      .dot2 {
        top: 235px;
        left: 272px;
        animation: zoomIn .4s .2s linear both;
      }
      .dot3 {
        top: 433px;
        left: 308px;
        animation: zoomIn .4s .4s linear both;
      }
      .dot4 {
        top: 505px;
        left: 209px;
        animation: zoomIn .4s .6s linear both;
      }
      .dot5 {
        top: 635px;
        left: 295px;
        animation: zoomIn .4s .8s linear both;
      }
      .dot6 {
        top: 682px;
        left: 192px;
        animation: zoomIn .4s 1s linear both;
      }
      .dot7 {
        top: 815px;
        left: 256px;
        animation: zoomIn .4s 1.2s linear both;
      }
      .dot8{
       top:892px;
        left: 153px;
        animation: zoomIn .4s 1.4s linear both;
      }
      .dot-title1{
        @include imgUrl(179px,56px,'/page4/tab2/title (6).png');
        top:63px;
        left:246px;
        animation: zoomIn .4s linear both;
      }
      .dot-title2{
        @include imgUrl(206px,55px,'/page4/tab2/title (9).png');
        top:220px;
        left:307px;
        animation: zoomIn .4s .2s linear both;
      }
      .dot-title3{
        @include imgUrl(182px,55px,'/page4/tab2/title (1).png');
        top:419px;
        left:352px;
        animation: zoomIn .4s .4s linear both;
      }
      .dot-title4{
        @include imgUrl(128px,25px,'/page4/tab2/title (4).png');
        top:507px;
        left:62px;
        animation: zoomIn .4s .6s linear both;
      }
      .dot-title5{
        @include imgUrl(152px,56px,'/page4/tab2/title (5).png');
        bottom:620px;
        left:336px;
        animation: zoomIn .4s .8s linear both;
      }
      .dot-title6{
        @include imgUrl(99px,56px,'/page4/tab2/title (8).png');
        top:667px;
        left:71px; 
        animation: zoomIn .4s 1s linear both;
      }
      .dot-title7{
        @include imgUrl(204px,56px,'/page4/tab2/title (3).png');
        top:803px;
        left:306px; 
        animation: zoomIn .4s 1.2s linear both;
      }
      .dot-title8{
        @include imgUrl(100px,25px,'/page4/tab2/title (2).png');
        top:890px;
        left:40px; 
        animation: zoomIn .4s 1.4s linear both;
      }
      .loc {
        top: 278px;
        left: 55px;
        animation: scaleFlash 1.2s linear infinite;
      }
      .logo{
        @include imgUrl(65px,232px,'/page4/tab2/tab2logo.png');

      }
    }
    .tab-cont3 {
      // @include imgUrl(363+200px, 584+200px, '/page4/tab3cont.png');
      .loc {
        top: 2.4rem;
        left: 0.8rem;
        animation: scaleFlash 1.2s linear infinite;
      }
    }
  }
  .page4-tab {
    position: absolute;
    bottom: 0;
    left: 2.66667%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    nav {
      height: 775px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        display: block;
        &.selected {
          animation: scaleFlash 1.2s linear infinite;
        }
        &.page4-tab1 {
          @include imgUrl(89px, 122px, '/page4/tab1.png');
          &.selected {
            background-image: url(../assets/img/page4/tab1on.png);
          }
        }
        &.page4-tab2 {
          @include imgUrl(83px, 122px, '/page4/tab2.png');
          &.selected {
            background-image: url(../assets/img/page4/tab2on.png);
          }
        }
        &.page4-tab3 {
          @include imgUrl(82px, 111px, '/page4/tab3.png');
          &.selected {
            background-image: url(../assets/img/page4/tab3on.png);
          }
        }
      }
    }
  }
}
.bg4-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  background: #f3f0e9;
  .cont {
    @include imgUrl(750px, 1679px, '/page4/bg4intro.jpg');
    height: 100vh;
    width: calc(100vh * 750 / 1679);
  }

  display: none;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }
}
