.page2 {
  height: 1630px;

  .page-bg {
    width: 545px;
    height: 1087px;
    background-image: url(../assets/img/page2/bg2.jpg);
    bottom: 0;
    right: 95px;
  }
  .ani1 {
    @include imgUrl(423px, 388px, '/page2/ani3.png');
    position: absolute;
    top: 95px;
    left: 18.4%;
    z-index: 7;
  }
  .ani2 {
    @include imgUrl(161px, 339px, '/page2/ani1.png');
    position: absolute;
    top: 460px;
    right: 11.333333%;
    z-index: 7;
  }
}
