.page7 {
  height: 1350px;
  .title {
    @include imgUrl(98px, 209px, '/page7/title.png');
    position: absolute;
    left: 76.53333%;
    top: 50px;
  }
}
.page7-tab-wrap {
  position: absolute;
  top: 50px;
  left: 4.66667%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  nav {
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      display: block;
      &.selected {
        animation: scaleFlash 1.2s linear infinite;
      }
      &.page7-tab1 {
        @include imgUrl(96px, 98px, '/page7/tab1.png');
        &.selected {
          background-image: url(../assets/img/page7/tab1on.png);
        }
      }
      &.page7-tab2 {
        @include imgUrl(98px, 99px, '/page7/tab2.png');
        &.selected {
          background-image: url(../assets/img/page7/tab2on.png);
        }
      }
      &.page7-tab3 {
        @include imgUrl(104px, 98px, '/page7/tab3.png');
        &.selected {
          background-image: url(../assets/img/page7/tab3on.png);
        }
      }
    }
  }
}
.page7-tab-cont {
  height: 1560px;
  width: 520px;
  position: relative;
  margin-left: 20px;
  .tab-cont {
    display: none;
    animation: slide1 0.5s linear;
    &.selected {
      display: block;
    }
  }
  .l-img {
    margin-bottom: 10px;
  }

  .tab-cont1 {
    padding-left:50px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/1.jpg');
    }
    .r-img {
      @include imgUrl(373px, 1036px, '/page7/2.jpg');
    }
  }
  .tab-cont2 {
    padding-left:100px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/4.jpg');
      animation: flipInX 1s linear both;
    }
    .r-img {
      @include imgUrl(320px, 1046px, '/page7/5.jpg');
      animation: slide1 0.2s 0.5s linear both;
    }
  }
  .tab-cont3 {
    padding-left:50px;
    .l-img {
      @include imgUrl(251px, 278px, '/page7/7.jpg');
      animation: flipInX 1s linear both;
    }
    .r-img {
      @include imgUrl(365px, 1046px, '/page7/8.jpg');
      animation: slide1 0.2s 0.5s linear both;
    }
  }
}
