.page9 {
  padding-top: 50px;
  height: auto;
  h2 {
    text-indent: -999em;
    @include imgUrl(450px, 218px, '/page9/title.png');
    margin: 0 auto 20px;
  }
  input {
    display: block;
    width: 657px;
    height: 94px;
    border-radius: 10px;
    border: 5px solid #adaaa4;
    box-sizing: border-box;
    padding: 0 10px;
    color: #000;
    font-size: 30px;
    margin: 0 auto 20px;
    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: #c0beb9;
    }
  }
}
.submit-btn {
  display: block;
  @include imgUrl(657px, 84px, '/page9/btn.png');
  margin: 0 auto 50px;
}
