.page6 {
  height: 1230px;

  .page-bg {
    width: 700px;
    height: 1226px;
    background-image: url(../assets/img/page6/bg6.jpg);
    top: 0;
    left: 1.066667%;
    z-index: 9;
  }
  ul {
    li {
      position: absolute;
      animation: mymovetop 5s linear infinite;
      i {
        display: block;
        @include imgUrl(20px, 37px, '/page6/arrow.png');
        margin: 0 auto;
      }
      .pulse,
      .pulse1 {
        background: #f3f0e9;
      }
      .container {
        left: -123%;
        top: 2%;
      }
    }
  }
  .page6-btn1 {
    top: 305-10px;
    left: 390px;
  }
  .page6-btn2 {
    top: 385-10px;
    left: 480px;
  }
  .page6-btn3 {
    top: 405-10px;
    left: 275px;
  }
  .page6-btn4 {
    top: 525-10px;
    left: 295px;
  }

  .page6-btn5 {
    top: 680-10px;
    left: 485px;
  }
  .page6-btn6 {
    top: 725-10px;
    left: 550px;
  }
  .page6-btn7 {
    top: 925-10px;
    left: 540px;
  }
  .page6-btn8 {
    top: 1075-10px;
    left: 595px;
  }
}
.bg6-intro {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
  background: #f3f0e9;
  animation: slide1 0.5s linear;
  z-index: 99;
  &.show {
    display: flex;
  }

  .intro1 {
    @include imgUrl(750px, 1679px, '/page6/intro1.jpg');
  }
  .intro2 {
    @include imgUrl(750px, 1679px, '/page6/intro2.jpg');
  }
  .intro3 {
    @include imgUrl(750px, 1679px, '/page6/intro3.jpg');
  }
  .intro4 {
    @include imgUrl(750px, 1679px, '/page6/intro4.jpg');
  }
  .intro5 {
    @include imgUrl(750px, 1679px, '/page6/intro5.jpg');
  }
  .intro6 {
    @include imgUrl(750px, 1679px, '/page6/intro6.jpg');
  }
  .intro7 {
    @include imgUrl(750px, 1679px, '/page6/intro7.jpg');
  }
  .intro8 {
    @include imgUrl(750px, 1679px, '/page6/intro8.jpg');
  }
  .intro {
    display: none;
    height: 100vh;
    width: calc(100vh * 750 / 1679);
    &.show {
      display: block;
    }
    .close {
      left: auto;
      right: 50px;
      bottom: 20px;
    }
  }
}
